body {
    background: #ccc;
}

#title, .subtitle, .post_title{
    color: blue;
}

.subtitle{
    font-size: 16px;
    font-style: italic;
}

.post_title{
    background: #FFF;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
}